@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#header, #content, #footer-fixed{
    display: none;
}

body{
    font-size: 12px;
}

#home {
    background: #3366FF;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#home .text {
    height: 376px;
    left: 50%;
    margin: -140px 0 0 -419px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 838px;
}

#home h1 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 7em;
    text-shadow: 3px 3px #444444;
}

#home p {
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.5em;
    margin: 2em;
}

#home em {
    text-decoration: underline;
}

#page1 {
    background: #4C79FF;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
}


#page1 h2 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 3.2em;
    padding: 1em;
}

#page2 {
    background: #B28100;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200%;
}

#page2 h2 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 3.2em;
    padding: 1em;
}

#page3 {
    background: #FFC633;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 300%;
}


#page3 h2 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 3.2em;
    padding: 1em;
}
