@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#header, #content, #footer-fixed{
    display: none;
}

body{
    font-size: 12px;
    overflow: hidden;
}

.home_menu{
    position: fixed;
    background: orange;
    width: 100%;
    top:0;
    z-index: 9;
    border-bottom: #CCC solid 1px;
}

.home_menu ul{
    width: 30em;
    left: 40%;
    margin: 0 auto;
}

.home_menu ul li{
    float:left;
    padding: 1em;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.2em;
    color: white;
}

.home_menu ul li:hover{
    background: #FFBE00;
    cursor: pointer;
}

.about_menu{
    position: fixed;
    background: orange;
    width: 100%;
    top:0;
    z-index: 9;
    border-bottom: #CCC solid 1px;
    background: #3A68FF;
}

.about_menu ul{
    width: 30em;
    left: 40%;
    margin: 0 auto;
}

.about_menu ul li{
    float:left;
    padding: 1em;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.2em;
    color: white;
}

.about_menu ul li:hover{
    background: #009BFF;
    cursor: pointer;
}

.websites_menu{
    position: fixed;
    background: orange;
    width: 100%;
    top:0;
    z-index: 9;
    border-bottom: #CCC solid 1px;
    background: #075220;
}

.websites_menu ul{
    width: 30em;
    left: 40%;
    margin: 0 auto;
}

.websites_menu ul li{
    float:left;
    padding: 1em;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.2em;
    color: white;
}

.websites_menu ul li:hover{
    background: #007828;
    cursor: pointer;
}

.contact_menu{
    position: fixed;
    background: orange;
    width: 100%;
    top:0;
    z-index: 9;
    border-bottom: #CCC solid 1px;
    background: #333333;
}

.contact_menu ul{
    width: 30em;
    left: 40%;
    margin: 0 auto;
}

.contact_menu ul li{
    float:left;
    padding: 1em;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.2em;
    color: white;
}

.contact_menu ul li:hover{
    background: #666666;
    cursor: pointer;
}

#home.select, #about.select, #websites.select, #contact.select {
  top: 0;
  transition: 1s;
}

/* ---------------- HOME ---------------- */

#home {
    background: #FFBE00;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#home .text {
    height: 376px;
    left: 50%;
    margin: -235px 0 0 -419px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 838px;
}

#home h1 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 8em;
    text-shadow: 3px 3px #444444;
}

#home p {
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.5em;
    margin: 2em;
    color: #383838;
}

#home em {
    text-decoration: underline;
}

#home .img li{
    float:left;
    width:11em;
}

#home .img li img {
    width:8em;
    height:8em;
    background:#F2F2F2;
    padding:1em;
    border-radius:6em;
}

#home .img li a {
    text-decoration: none;
}

#home .img li a.tooltip span {
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom:9999em;
    background:#000;
    color:#e0e0e0;
    padding:0em 0.7em;
    line-height: 2.4em;
    height: 2.4em;
    opacity: 0;
    transition:opacity 0.4s ease-out;
}

#home .img li a.tooltip:hover span {
    opacity: 1;
    position: relative;
    bottom:-0.5em;
    left:0em;
    padding:0.7em;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.2em;
    border-radius:0.8em;
}

/* ---------------- About ---------------- */

#about {
    background: #009BFF;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
}

#about .text{
    position: relative;
    width: 100%;
    top: 4em;
}

#about h1 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 8em;
    text-shadow: 3px 3px #444444;
    margin: 0.1em;
}

#about p {
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.5em;
    margin: 2em;
    color: #383838;
}

#about .itens li {
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.5em;
    margin: 2em;
    color: #383838;
    list-style: disc;
}

#about em {
    text-decoration: underline;
}

#about img{
    float:left;
    margin: 2em 5em 2em 5em;
    padding: 0.5em;
    border-radius: 2em;
    background: #FFF;
}

/* ---------------- Websites ---------------- */

#websites {
    background: #007828;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200%;
}

#websites .text{
    position: relative;
    width: 100%;
    top: 4em;
}

#websites h1 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 8em;
    text-shadow: 3px 3px #444444;
    margin: 0.1em;
}

#websites ul li{
    float:left;
    width:44.2em;
}

#websites ul li img {
    width:40em;
    height:30em;
    background:#F2F2F2;
    padding:1em;
    border-radius:6em;
    -moz-box-shadow: 0em 1.1em 2.4em #000d00;
    -webkit-box-shadow: 0em 1.1em 2.4em #000d00;
    box-shadow: 0em 1.1em 2.4em #000d00;
}

#websites ul li img:hover {
    opacity:0.3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
}

#websites em {
    text-decoration: underline;
}

/* ---------------- Contact ---------------- */

#contact {
    background: #666666;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 300%;
}

#contact .text {
    height: 376px;
    left: 50%;
    margin: -235px 0 0 -419px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 838px;
}

#contact h1 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 8em;
    text-shadow: 3px 3px #444444;
    margin: 0.1em;
}

#contact p {
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.2em;
    margin: 1em;
    color: #CCC;
}

#contact p a {
    color: #CCC;
    text-decoration: underline;
}

#contact em {
    text-decoration: underline;
}

#contact .img li{
    float:left;
    width:11em;
}

#contact .img li img {
    width:8em;
    height:8em;
    background:#F2F2F2;
    padding:1em;
    border-radius:6em;
}
